#particles-js {
  background: blue;
  height: 400px;
}

#particles-js div {
  /* background: #fff;
  opacity: 0.9;
  padding: 2em;
  border: #ccc 2px solid;
  position: absolute; */
  top: 100px;
  left: 50px;
}

/* #page-container {
  padding: 7px;
  margin-bottom: 10px;
  border: 1px #ccc solid;
} */
